//general
@import "general/tools";
@import "general/fonts";
@import "general/nav";
@import "general/images";
@import "general/footer";
@import "general/buttons";
@import "general/modal";

/*libs*/

@import "../node_modules/bootstrap/less/bootstrap";
@import "libs/glyphicons";
// @import "libs/avenir-next";

/*pages*/

@import "pages/home";
@import "pages/about-us";
@import "pages/api";

/*common styles*/

body {
    * {
        font-family: "Avenir Next W01", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        // font-family: "Avenir Next W01", "AvenirNextLTPro-demi", "Helvetica Neue";
        // font-family: 'AvenirNextLTPro';
        /* All text an all pages for clients is this font */
        font-style: normal;
        .body-text;
    }
}

section.main {
    min-height: 800px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="email"],
select,
textarea,
fieldset {
    .border-radius();
}

select,
textarea,
fieldset {
    .box-shadow();
    border: 1px solid @bootstrap-input-border-color;
}

input[type="text"][readonly] {
    background-color: white;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="email"],
select {
    height: 40px !important;
}

body {
    background-color: @clientColorLightestGray;
}

.counter-a-link-0 {
    .addTransition();
    color: white!important;
    &:hover,
    &.active {
        .box-shadow(-1px, 0, 2px, 0.2);
        .border-radius();
        background: @color-secondary-0!important;
    }
    @media screen and (max-width: @bootstrap-med) {
        &.active {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    @media screen and (min-width: @bootstrap-med) {
        &.active {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}



.pic-box h2 {
    padding: 1em;
}

div#counter-load {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .5;
    &.active {
        display: block;
    }
    .counter-loader {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 64px;
        height: 64px;
    }
}

hr.main-section {
    .box-shadow(0px, 1px, 5px, .5);
}

.widget-border {
    .border-radius();
    background-color: @clientColorLightGray;
    padding: 1em;
}

.counter-list-page-title {
    list-style: none;
    padding: 0;
    li {
        padding: .3em;
        border-bottom: 1px solid @clientColorLightGray;
        .counter-page-title;
        color: @color-primary-3;
    }
}

.apple-message-box {
    position: relative;
    z-index: -1;
    color: white;
    word-wrap: break-word;
    max-width: 200px;
    min-height: 40px;
    padding: 1em;
    .modal-title;
    .border-radius(20px);
    background-color: @clientColorBlue;
    .dialog-arrow {
        position: absolute;
        eight: 55px;
        width: 55px;
        top: 60px;
        left: 30px;
        z-index: -1;
    }
    span {
        color: white !important;
        @media screen and (max-width: @bootstrap-med) {
            .text-size-regular;
        }
    }
}

//my bootstraps;
.col-xs-mAuto {
    @media screen and (max-width: @bootstrap-large) {
        > div {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.small-image {
    @si: 40px;
    height: @si;
    width: @si;
}

.counter-page-header {
    min-height: 500px;
}

.counter-page-header-1 {
    .counter-page-header;
    * {
        color: white !important;
    }
    h1 {
        .text-shadow();
    }
}

.to-bottom {
    position: absolute;
    bottom: 0;
}

.to-top {
    position: absolute;
    top: 0;
}

.widget {
    position: relative;
    .box-shadow();
}

//custom alert message
.counterDraft-alert {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    min-height: 60px;
    .addTransition();
    z-index: 100;
}
