@import "general/tools";
@import "general/footer";

/*libs*/


/*pages*/
@import "pages/home";
@import "pages/faq";

.page-header {
    min-height: 300px;
}

.center {
    text-align: center
}

.to-bottom {
    position: absolute;
    bottom: 0;
}

.widget {
    position: relative;
}
