@import "general/tools";
@import "general/fonts";
@import "general/nav";
@import "general/images";
@import "general/footer";

/*libs*/
@import "../node_modules/bootstrap/less/bootstrap";


/*pages*/
@import "pages/home";
@import "pages/faq";
body * {
    font-family: 'Avenir Next W01';
    /* All text an all pages for clients is this font */
    font-style: normal;
    .body-text;
    label small {
        text-transform: capitalize;
    }
    small {
        font-size: 60%;
        font-weight: inherit;
        line-height: normal;
    }
}
body{
    background-color: @clientColorLightestGray;
}

.counter-page-header {
    min-height: 400px;
}

.center {
    text-align: center
}

.to-bottom {
    position: absolute;
    bottom: 0;
}

.to-top {
    position: absolute;
    top: 0;
}

.widget {
    position: relative;
    .box-shadow();
}
