<div class="container">
    <form role="form">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Personal Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="contact-username" placeholder="username">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="contact-password" placeholder="password">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="contact-cpassword" placeholder="confirm password">
                </div>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="contact-first" placeholder="first name">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="contact-last" placeholder="last name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="number" class="form-control" id="contact-phone" placeholder="phone">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <input type="date" class="form-control" id="contact-dob" placeholder="date of brith">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <select class="form-control" id="contact-gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Address (optional)</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 hidden-xs">
                    &nbsp;
                </div>
                <div class="col-xs-12 col-sm-4 hidden-xs">
                    &nbsp;
                </div>
                <div class="col-xs-12 col-sm-4 text-right">
                    <a type="button" class="btn tertiary btn-block">Find Location</a>
                </div>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="number" class="form-control" id="contact-adress-number" placeholder="Street Number">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="contact-address-street-name" placeholder="Street Name">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="contact-city" placeholder="City">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="contact-country" placeholder="Country">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <input type="number" class="form-control" id="contact-zip" placeholder="Zip Code">
                </div>
            </div>
            <div class="row">
                <div class="checkbox col-xs-12">
                    <label>
                        <input type="checkbox"> By checking this you agree to conditions in our <u><a href="/terms-of-service">terms of services.</a></u></label><br>
                    <label>
                        <input type="checkbox"> I agree this is my personal information and I am over the age of 18.</label>
                </div>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-4 col-xs-12">&nbsp;</div>
                    <div class="col-sm-4 col-xs-12">
                        <button type="submit" class=" form-group btn btn-block button primary">Create Account</button>
                    </div>
                    <div class="col-sm-4 col-xs-12">&nbsp;</div>
                </div>
            </div>
        </div>
    </form>
</div>
