<footer class="main-footer">
    <div class="row">
        <ul class="col-md-4">
            <li><a href="/">meet the team</a></li>
            <li><a href="/">about us</a></li>
            <li><a href="/">how it works</a></li>
            <li><a href="/">something more</a></li>
        </ul>
        <ul class="col-md-4">
            <li><a href="/">meet the team</a></li>
            <li><a href="/">about us</a></li>
            <li><a href="/">how it works</a></li>
            <li><a href="/">something more</a></li>
        </ul>
        <ul class="col-md-4">
            <li><a href="/">meet the team</a></li>
            <li><a href="/">about us</a></li>
            <li><a href="/">how it works</a></li>
            <li><a href="/">something more</a></li>
        </ul>
    </div>
</footer>