<footer>
    <div class="mastfoot container">
        <div class="col-lg-4 col-md-4 col-sm-4 ">
            <ul>
                <li><a class="counter-a-link-0" href="/meet-the-team">Meet The Team</a></li>
                <li><a class="counter-a-link-0" href="/about">About Us</a></li>
                <li><a class="counter-a-link-0" href="/careers">Careers</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li><a class="counter-a-link-0" href="/terms-of-service">Terms of Service</a></li>
                <li><a class="counter-a-link-0" href="/legal">Legal</a></li>
                <li><a class="counter-a-link-0" href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li>support us</li>
                <li>
                    <div class="counter-icon-facebook"></div>
                    <div class="counter-icon-twitter"></div>
                    <div class="counter-icon-instagram"></div>
                </li>
                <li><a class="counter-a-link-0" href="mailto:support@counterdraft.com">support@counterdraft.com</a></li>
                <li>&nbsp;</li>
                <li>
                    <dl>
                        <dt>1703 Toltec Cir Suite #100</dt>
                        <dd>Las Vegas, NV 89014 USA</dd>
                        <dt>1(727)696-2250</dt>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 center footer-corp">
            <span class="">&copy;2015 CounterDraft Inc. All rights reserved.</span>
        </div>
    </div>
</footer>
