<footer>
    <div class="mastfoot container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><a href="/">Meet The Team</a></li>
                    <li><a href="/">About Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Legal</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><a href="/">Contact Us</a></li>
                    <li><a href="/">Terms of Use</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center footer-corp">
                <span class="">@2015 CounterDraft Inc. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>
