<footer>
    <div class="mastfoot container">
    <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li>SUPPORT US</li>
                <li>
                    <div class="counter-icon-facebook"></div>
                    <div class="counter-icon-twitter"></div>
                    <div class="counter-icon-instagram"></div>
                </li>
                <li><a class="counter-a-link-0" href="mailto:support@counterdraft.com">support@counterdraft.com</a></li>
                <li>&nbsp;</li>
                <li>
                    <dl>
                        <dt>1703 Toltec Cir Suite #100</dt>
                        <dd>Las Vegas, NV 89014 USA</dd>
                        <dt>1-727-696-2250</dt>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 ">&nbsp;</div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li>PAYMENTS</li>
                <li>
                    <i class="counter-icon-mastercard-large"></i>
                    <i class="counter-icon-visa-large"></i>
                    <i class="counter-icon-discover-large"></i>
                    <i class="counter-icon-americanexpress-large"></i>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 text-center footer-corp">
            <span class="">&copy;2017 CounterDraft.LLC All rights reserved.</span>
        </div>
    </div>
</footer>
