<footer id="footer-new">
    <div class="black-section col-xs-12">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-7  col-xs-12 footer-top-container">
            <section>
                <h3 class="footer-1">Products</h3>
                <ul>
                    <li class="footer-2"><a href="/saas-platform" target="_self">Platform</a></li>
                    <li class="footer-2"><a href="/api-system" target="_self">API</a></li>
                </ul>
            </section>
        </div>
        <div class="col-sm-4 hidden-xs">&nbsp;</div>
        <section class="footer-top-lower-container col-xs-12">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-xs-12 col-sm-11"><i class="glyphicon glyphicon-envelope footer-mail-icon"></i>SIGN UP FOR COUNTERDRAFT NEWSLETTER&nbsp;
                <button class="btn btn-primary">SUBSCRIBE</button>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-xs-12 col-sm-11">&nbsp;&nbsp;Follow COUNTERDRAFT&nbsp;<i class="icon-facebook"></i>&nbsp;<i class="icon-twitter"></i>&nbsp;<i class="icon-youtube"></i></div>
            <div class="col-xs-12">&nbsp;</div>
        </section>
    </div>
    <div class="col-xs-12 footer-bottom-container">
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12"><img src="/images/favicons/apple-touch-icon-57x57.png" class="cd-image" alt="COUNTERDRAFT" /></div>
        <ul class="col-xs-12 link-container">
            <li><a class="" href="/privacy" target="_self">Privacy Policy</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/legal" target="_self">Legal</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/contact" target="_self">Contact Us</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/about-us" target="_self">About</a></li>
        </ul>
        <div class="col-xs-12"><span class="">&copy;2017 CounterDraft.LLC All rights reserved.</span></div>
    </div>
</footer>
