<!-- <footer>
    <div class="mastfoot container">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li>SUPPORT US</li>
                <li>
                    <div class="counter-icon-facebook"></div>
                    <div class="counter-icon-twitter"></div>
                    <div class="counter-icon-instagram"></div>
                </li>
                <li><a class="counter-a-link-0" href="mailto:support@counterdraft.com">support@counterdraft.com</a></li>
                <li>&nbsp;</li>
                <li>
                    <dl>
                        <dt>1703 Toltec Cir Suite #100</dt>
                        <dd>Las Vegas, NV 89014 USA</dd>
                        <dt>1-727-696-2250</dt>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 ">&nbsp;</div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul>
                <li>PAYMENTS</li>
                <li>
                    <i class="counter-icon-mastercard-large"></i>
                    <i class="counter-icon-visa-large"></i>
                    <i class="counter-icon-discover-large"></i>
                    <i class="counter-icon-americanexpress-large"></i>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 text-center footer-corp">
            <span class="">&copy;2017 CounterDraft.LLC All rights reserved.</span>
        </div>
    </div>
</footer> -->
<footer>
    <div class="col-xs-12 footer-top-container">
        <section>
            <h3>Products</h3>
            <ul>
                <li><a class="" href="/saas-platform" target="_self">Platform</a></li>
                <li><a class="" href="/api-system" target="_self">API</a></li>
            </ul>
        </section>
        <section class="footer-top-lower-container col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6"><i class="glyphicon glyphicon-envelope"></i>SIGN UP FOR COUNTERDRAFT NEWSLETTER&nbsp;
                    <button>SUBSCRIBE</button>
                </div>
                <div class="col-xs-12 col-sm-6">Follow COUNTERDRAFT&nbsp;<i class="icon-facebook"></i>&nbsp;<i class="icon-twitter"></i>&nbsp;<i class="icon-youtube"></i></div>
            </div>
        </section>
    </div>
    <div class="col-xs-12 footer-bottom-container">
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12"><img src="/images/favicons/apple-touch-icon-57x57.png" class="cd-image" alt="COUNTERDRAFT" /></div>
        <ul class="col-xs-12 link-container">
            <li><a class="" href="/privacy" target="_self">Privacy Policy</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/legal" target="_self">Legal</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/contact" target="_self">Contact Us</a>&nbsp;|&nbsp;</li>
            <li><a class="" href="/about-us" target="_self">About</a></li>
        </ul>
        <div class="col-xs-12"><span class="">&copy;2017 CounterDraft.LLC All rights reserved.</span></div>
    </div>
</footer>
