<nav class="navbar navbar-default navbar-static-top navbar-inverse counter-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed button tertiary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i><img class="small-image" src="/images/node.svg"/>&nbsp;CounterDraft</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="counter-a-link-0" href="/faq" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'FAQ');">FAQ</a></li>
                <li><a class="counter-a-link-0" href="/#how_to_win" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'How To Win');">How To Works</a></li>
                <li><a class="counter-a-link-0" href="/#who_are_we" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'Who Are We');">Who Are We?</a></li>
                <li><a class="counter-a-link-0"  onclick="Counter.showSignin();">Sign-in</a></li>
            </ul>
        </div>
    </div>
</nav>
