<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="home-nav">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="meet-the-team-nav">
                <a href="/meet-the-team"><span class="glyphicon glyphicon-cloud"></span> Meet The Team</a>
            </li>
            <li class="contact-nav">
                <a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
            </li>
            <li class="about-nav">
                <a href="/about"><span class="glyphicon glyphicon-user"></span> About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="/"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
            </li>
        </ul>
    </div>
</nav>
