<nav class="navbar navbar-default navbar-static-top navbar-inverse counter-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed button tertiary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i><img class="small-image" src="/images/node.svg"/>&nbsp;Counter Draft</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#faq" onclick="ga('send', 'event', 'Navbar', 'home', 'FAQ');">FAQ</a></li>
                <li><a href="#how_to_win" onclick="ga('send', 'event', 'Navbar', 'home', 'How To Win');">How To Win</a></li>
                <li><a href="#who_are_we" onclick="ga('send', 'event', 'Navbar', 'home', 'Who Are We');">Who Are We?</a></li>
                <li><a href="#sign-in" onclick="ga('send', 'event', 'Navbar', 'home', 'Sign In');">Sign-in</a></li>
            </ul>
        </div>
    </div>
</nav>
