<nav class="navbar navbar-default navbar-static-top navbar-inverse counter-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed button tertiary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i><img class="small-image" src="/images/node.svg"/>&nbsp;CounterDraft</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="counter-a-link-0 faq-nav" href="/faq" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'FAQ');">FAQ</a></li>
                <li><a class="counter-a-link-0 how_to_win-nav" href="/#how_to_win" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'How To Win');">How To Works</a></li>
                <li><a class="counter-a-link-0 who_are_we-nav" href="/#who_are_we" onclick="Counter.googleAnalytics.ga('send', 'event', 'Navbar', 'home', 'Who Are We');">Who Are We?</a></li>
                <% if (isAuthorized){ %>
                    <li><a class="counter-a-link-0 dashboard-nav" href="<%= settings.webApp %>/dashboard">Dashboard</a></li>
                <% }else{ %>
                    <li><a class="counter-a-link-0 login-nav" onclick="Counter.showSignin();">Log in</a></li>
                    <li class="nav-div">&nbsp;</li>
                    <li><a class="counter-a-link-0 create-nav" href="/create-account">Sign up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
