<nav class="navbar navbar-default navbar-static-top navbar-inverse counter-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed button tertiary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="counter-a-link-0 faq-nav" href="<%= web_app %>/login" target="_blank">Login</a></li>
                <li><a class="counter-a-link-0 faq-nav" href="<%= web_app %>/login?page=registration" target="_blank">Register</a></li>
                <li><a class="counter-a-link-0 faq-nav" href="/saas-platform">SaaS Platform</a></li>
                <li><a class="counter-a-link-0 faq-nav" href="/api-system">API System</a></li>
                <li><a class="counter-a-link-0 faq-nav" href="/about-us">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
