<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="google-site-verification" content="34g3H1xzrsGIbCsdV7JArS9uj-OA-0Pexf4oxRTXchs" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include ../partials/css.ejs %>
</head>
<body>
<article id="scooby-<%= articleID %>">
  <% include ../partials/nav.ejs %>
  <%- body %>
</article>
</body>
<% include ../partials/js.ejs %>
<footer class="main-footer">
	<div class="row">
		<ul class="col-md-4">
			<li><a href="/">meet the team</a></li>
			<li><a href="/">about us</a></li>
			<li><a href="/">how it works</a></li>
			<li><a href="/">something more</a></li>
		</ul>
		<ul class="col-md-4">
			<li><a href="/">meet the team</a></li>
			<li><a href="/">about us</a></li>
			<li><a href="/">how it works</a></li>
			<li><a href="/">something more</a></li>
		</ul>
		<ul class="col-md-4">
			<li><a href="/">meet the team</a></li>
			<li><a href="/">about us</a></li>
			<li><a href="/">how it works</a></li>
			<li><a href="/">something more</a></li>
		</ul>
	</div>
	<!-- <div class="row">
		<div class="col-md-12 col-md-offset-5">
		assas
		</div>
	</div> -->
</footer>
<script data-main="/js/main/<%= mainjs %>-main.js" src="/node_modules/requirejs/require.js"></script>
</html>
