<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/css.ejs %>
</head>
<body>
<article id="scooby-<%= articleID %>">
  <% include ../partials/nav.ejs %>
  <%- body %>
</article>
</body>
<% include ../partials/js.ejs %>
<script data-main="/js/main/<%= mainjs %>-main.js" src="/node_modules/requirejs/require.js"></script>
</html>
