<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="google-site-verification" content="34g3H1xzrsGIbCsdV7JArS9uj-OA-0Pexf4oxRTXchs" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/e6263929-824a-481d-8955-0ba659fe6c13.css"/>
    <% include ../partials/css.ejs %>
</head>
<body>
<article id="counter-<%= articleID %>">
  <% include ../partials/nav.ejs %>
  <%- body %>
</article>
</body>
<% include ../partials/footer.ejs %>
<% include ../partials/js.ejs %>
<script data-main="/js/main/<%= mainjs %>-main.js" src="/node_modules/requirejs/require.js"></script>
</html>
