.text-padded-large {
    padding-bottom: 20px;
}

// --- sizes ---
.text-size-largest {
    font-size: 25px;
    line-height: 33px;
}

.text-size-larger {
    font-size: 20px;
    line-height: 27px;
}

.text-size-large {
    font-size: 18px;
    line-height: 25px;
}

.text-size-regular {
    font-size: 15px;
    line-height: 24px;
}

.text-size-small {
    font-size: 12px;
    line-height: 15px;
}

// --- weights ---
.text-weight-heaviest {
    font-weight: 700;
}

.text-weight-heavy {
    font-weight: 600;
}

.text-weight-regular {
    font-weight: 500;
}

// --- colors ---
.text-color-white {
    color: white;
}

.text-color-muted {
    color: @clientColorDarkGray;
}

.text-color-regular {
    color: @clientColorBlack;
}

.text-color-link {
    color: @clientColorBlue;
}

.text-color-success {
    color: @clientColorGreen;
}

.welcome-title {
    .text-weight-heaviest;
    .text-size-larger;
    .text-color-white;
    margin-bottom: 15px;
}

.welcome-message {
    .text-weight-regular;
    .text-size-large;
    .text-color-white;
}

.page-title {
    .text-size-largest;
    .text-weight-heavy;
}

.page-title-1 {
    .page-title;
    text-decoration: underline;
}

.module-title-big {
    .text-weight-heaviest;
    .text-size-larger;
    .text-padded-large;
}

.modal-title {
    .text-weight-regular;
    .text-size-larger;
    white-space: nowrap;
}

.module-title {
    .text-weight-regular;
    .text-size-large;
}

.cart-item-text {
    font-size: 9px;
    color: white !important;
    line-height: 16px;
}

.product-title {
    padding: 7px 0;
    .text-weight-heaviest;
    .text-size-large;
}

.modal-list-item {
    .text-weight-heaviest;
    .text-size-regular;
}

.body-text {
    .text-weight-regular;
    .text-color-regular;
}

.secondary-text {
    .text-weight-heavy;
    .text-size-regular;
    .text-color-muted;
}

.secondary-text-medium {
    font-weight: normal;
    .text-size-regular;
    .text-color-muted;
}

.link-text {
    font-weight: normal;
    .text-size-regular;
    .text-color-link;
    &:hover{
        cursor: pointer;
    }
}

.link-text-inverted {
    .text-weight-heavy;
    .text-size-regular;
    .text-color-white;
}

.link-text-header {
    .text-weight-regular;
    .text-size-regular;
    .text-color-link;
}

.footer-text {
    .text-weight-heavy;
    .text-size-small;
    .text-color-muted;
}

.counter-bold {
    font-weight: bold;
}

a {
    .text-weight-heavy;
    .text-size-regular;
    .text-color-link;
}

h1 {
    .page-title;
}

strong {
    .text-weight-heaviest;
    .text-size-regular;
}

// font-stretch: ultra-condensed|extra-condensed|condensed|semi-condensed|normal|semi-expanded|expanded|extra-expanded|ultra-expanded|initial|inherit;
@font-face {
    font-family: AvenirNextLTPro-demi;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro-demi;
    font-stretch: condensed;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiCn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro-demi;
    font-stretch: condensed;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiCnlt.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro-demi;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demilt.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: condensed;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Cn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: condensed;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Cnlt.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: ultra-condensed;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCnlt.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: ultra-condensed;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: semi-condensed;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-MediumCn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-stretch: semi-condensed;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-MediumCnlt.otf") format("opentype");
}

//bold
@font-face {
    font-family: AvenirNextLTPro;
    font-weight: bold;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-weight: bold;
    font-stretch: condensed;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-BoldCn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-BoldCnlt.otf") format("opentype");
}

//italic
@font-face {
    font-family: AvenirNextLTPro;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-lt.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-weight: 100;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextLTPro;
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCnlt.otf") format("opentype");
}
