@import "tools";
//This is the less file for the footer;
footer {
    background-color: @footer-color;
    .mastfoot {
        position: relative;
        padding-top: 1em;
        .text-size-small;
        * {
            color: @clientColorLightestGray;
        }
        ul {
            list-style: none;
            li {
                // border-left: 1px solid white;
                padding-left: 1em;
                a {
                    padding: .5em;
                }
                a:hover {
                    background-color: @clientColorLightestGray;
                    color: white;
                    text-decoration: none;
                    .border-radius(10px);
                }
            }
        }
        .footer-corp {
            padding: 1em;
            * {
                color: @clientColorDarkGray !important;
            }
        }
        @media screen and (max-width: @bootstrap-med) {
            > div {
                text-align: center;
            }
            ul {
                padding: 0;
                li {
                    border: none;
                }
            }
        }
    }
    .footer-top-container {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        background-color: black;
        section.footer-top-lower-container {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
        }
    }
    .footer-bottom-container {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 100px;
        background-color: white;
        img.cd-image{
            .border-radius();
        }
        .link-container{
            li{
                display: inline-block;
            }
        }
    }
}
