@import "tools";
.round {
    .border-radius(50%);
    padding: 1em;
}

.square {}

.img-home {
    background-image: url('@{img-dir}/home-fantasy-football-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // @media screen and (max-width: @bootstrap-med) {
    //     background-size: cover;
    // }
}

.logo-counter-draft {
    background-image: url('@{img-dir}/CounterDraft-branding/CounterDraftIcon_lrg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tmp-pic {
    background-image: url("@{img-dir}/blue-person-plceholder.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

//emp pics
.jerum_hubbert {
    background-image: url("@{img-dir}/emp/jerum_hubbert.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 134%;
}

.michael_walsh {
    background-image: url("@{img-dir}/emp/michael_walsh.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.john_laws {
    background-image: url("@{img-dir}/emp/john_laws.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#counter-load .counter-loader {
    background-image: url("@{img-dir}/gif/loading.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.cd-device-img {
    height: 400px;
    background-image: url("@{img-dir}/counterdraft-devices.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: @bootstrap-med) {
    .cd-device-img {
        height: 250px;
    }
}


/* icons */

[class^="counter-icon-"] {
    height: 40px;
    width: 40px;
    margin: .2em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.counter-icon-facebook {
    background-image: url("@{img-dir}/social-media/FB-f-Logo__blue_512.png");
}

.counter-icon-twitter {
    background-image: url("@{img-dir}/social-media/TwitterLogo_blue.png");
}

.counter-icon-instagram {
    background-image: url("@{img-dir}/social-media/Instagram-logo.png");
}

.counter-icon-apple-store {
    background-image: url("@{img-dir}/company-brands/Download_on_the_App_Store_Badge_US-UK_135x40.svg");
    width: 140px;
}

.counter-icon-google-play {
    background-image: url("@{img-dir}/company-brands/en_generic_rgb_wo_60.png");
    width: 118px;
}

.counter-icon-mastercard-large {
    background-image: url("@{img-dir}/company-brands/MasterCard-Logo.svg");
    width: 60px;
}

.counter-icon-visa-large {
    background-image: url("@{img-dir}/company-brands/Visa.svg");
    width: 60px;
}

.counter-icon-discover-large {
    background-image: url("@{img-dir}/company-brands/DiscoverCard.svg");
    width: 60px;
    background-color: white;
}

.counter-icon-americanexpress-large {
    background-image: url("@{img-dir}/company-brands/American_Express_logo.svg");
    width: 60px;
}
