@import "tools";
.img-home {
    // background-image: url('@{img-dir}/node.svg');
    background-repeat: no-repeat;
    background-position: center;
}

div[class^="counter-icon-"]{
	height: 40px;
	width: 40px;
	margin: .2em;
	display: inline-block;
	background-size: contain;
    background-repeat: no-repeat;
}

.counter-icon-facebook{
	background-image: url("/images/social-media/FB-f-Logo__blue_512.png");
}

.counter-icon-twitter{
	background-image: url("/images/social-media/TwitterLogo_blue.png");
}

.counter-icon-instagram{
	background-image: url("/images/social-media/Instagram-logo.png");
}


