@import "tools";
div#counter-modal {
    .modal-content{
        overflow: hidden;
    }
    div.model-tmpl-0 {
        div.modal-header {
            background-color: @color-secondary-0;
            h4{
                .text-shadow();
            }
            *{
                color: white;
            } 
        }
    }

    div.retrieve-container{
        max-height: 0;
        .addTransition();
        &.active{
            max-height: 500px;
        }
    }

    div.model-tmpl-1 {}
    div.model-tmpl-2 {}
    div.model-tmpl-3 {}
}
