@import "tools";
nav.counter-nav {
    padding: 1em;
    background-color: @color-primary-4;
    // position: absolute;
    border: none;
    margin: 0;
    .navbar-brand {
        * {
            .page-title;
            font-weight: bold;
            color:white;
        }
    }
    .nav {
        a {
            color: white!important;
        }
        a:hover {
            .box-shadow(-1px, 0, 2px, 0.2);
            .border-radius();
            background: @color-secondary-0!important;
        }
    }
    .navbar-toggle {
        .icon-bar {
            background-color: white;
            border: none!important;
        }
    }
}
