/* As hex codes */

@color-primary-0: #AA5A39;  /* Main Primary color */
@color-primary-1: #FFC3AA;
@color-primary-2: #D48A6A;
@color-primary-3: #803515;
@color-primary-4: #551900;

@color-secondary-0: #A13646; /* Main Secondary color */
@color-secondary-1: #F1A1AD;
@color-secondary-2: #C96474;
@color-secondary-3: #781424;
@color-secondary-4: #50000D;

@footer-color: #D5D5D5;
