<div class="container">
    <form role="form">
        <div class="row">
            <div class="form-group col-xs-12">
                <input type="text" class="form-control" id="contact-from" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <input type="text" class="form-control" id="contact-subject" placeholder="Subject">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <textarea class="col-xs-12" rows="10" name="contact-message" placeholder="Message"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12"></div>
            <div class="form-group col-sm-4 col-xs-12">
                <button type="submit" class="btn btn-block button primary">Submit Question</button>
            </div>
            <div class="col-sm-4 col-xs-12"></div>
        </div>
    </form>
</div>
