<!-- Modal content-->
<div class="model-tmpl-0">
    <form role="form" class="form-horizontal" id="login-form">
        <div class="modal-header">
            <button type="button" class="close btn-modal model-secondary" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Find Location</h4>
        </div>
        <div class="modal-body">
            <div class="">
                <label for="username" class="sr-only col-sm-1">Location</label>
                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <input type="text" class="form-control" id="location" placeholder="Location" />
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <a type="button" class="btn button tertiary btn-block" style="padding:.5em;"><i class="icon-search"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="found-location" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-xs-12 col-sm-4">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button type="submit" class="btn primary btn-block" data-dismiss="modal">Add Location</button>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
        </div>
    </form>
</div>
