<div class="jumbotron text-center">
  <div class="container">
    <h1>About Section</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>about<%- contentFor('mainjs') %>about<%- contentFor('articleID') %>about