<section ng-controller="apiController as apiCtrl" class="main">
    <div class="container">
    	 <div class="col-xs-12">&nbsp;</div>
    	 <div class="col-xs-12">&nbsp;</div>
        <h2 class="col-xs-12 text-center">CounterDraft Application Program Interface (Capi)</h2>
    </div>
    <div class="home-body container">
        <div class="col-xs-12 light-section">
            <h3 class="col-xs-12">Top Features</h3>
            <div class="col-xs-12">
                <ul class="welcome-title">
                    <li>Reliability, security, and extremely robust</li>
                    <li>Professionally design and maintained</li>
                    <li>Cloud based solution</li>
                    <li>Meets industry standards</li>
                    <li>Mobile application is provided free!</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">What Is an Application Program Interface (Api)</h3>
            <div class="col-xs-12">
                <p class="welcome-title">“A api is a set of routines, protocols, and tools for building software and applications." <a href="https://en.wikipedia.org/wiki/Application_programming_interface" class="link" target="_blank">full definition</a>. CounterDraft exposes our services to you so you can focus on just building and maintaining an interface for your company. We track all games, keep the score, and determine proper payouts.</p>
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">How Our Api Works</h3>
            <ul class="welcome-title rmv-list-sytle">
            	<li class="col-xs-12"><i class="round">&nbsp;1&nbsp;</i>&nbsp;&nbsp;Create a fantasy sport contest using the CounterDraft Api system.</li>
            	<li class="col-xs-12"><i class="round">&nbsp;2&nbsp;</i>&nbsp;&nbsp;Configure the contest, determine payouts, set min and max players, and add additional special settings.</li>
            	<li class="col-xs-12"><i class="round">&nbsp;3&nbsp;</i>&nbsp;&nbsp;Add players to the contest. Players can be manually added or enter in the contest on their own via CounterDraft's IOS, Android, or web app.</li>
            	<li class="col-xs-12"><i class="round">&nbsp;4&nbsp;</i>&nbsp;&nbsp;Moniter the game through our Api. Both your customers and you can moniter the game in real time.</li>
            	<li class="col-xs-12"><i class="round">&nbsp;5&nbsp;</i>&nbsp;&nbsp;Once the game has finished, CounterDraft's Api can provide full status on each players score and how much each player should get paid out.</li>
            </ul>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">How CounterDraft Api Can Benefit Your Business</h3>
            <div class="col-xs-12">
            	<p class="welcome-title">Being able to offer Fantasy Sports to your customers can be accomplished in a quarter of the development time needed. CounterDraft does all the heavy lifting for you. Fantasy sports is the newest evolution of sports betting, our system can introduce your business to a new market. CounterDraft’s Api is maintained by us, so no expense maintenance or upgrade management needed. Simply just design an interface and start offering Fantasy Sports to your customers.</p>
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 light-section">
            <h3 class="col-xs-12">Reports</h3>
            <p class="col-xs-12 page-title">We provide a fully robust reporting system so you can keep track of all games, payouts, employees activities, status on your payout percentage, and much more. Our customers come first, if you need additional reports all you have to do is ask.</p>
        </div>
    </div>
</section>
<%- contentFor('title') %>api<%- contentFor('mainjs') %>api<%- contentFor('articleID') %>api