<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center"><u>Opps, Wrong extention</u></h1></div>
    </row>
    <div class="container">
        <p>Error 404, current this page does not exists!</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>Error 404<%- contentFor('mainjs') %>bad<%- contentFor('articleID') %>bad
