<div class="jumbotron text-center">
  <div class="container">
    <h1>Careers Section</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>careers<%- contentFor('mainjs') %>careers<%- contentFor('articleID') %>careers