<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center"><u>Careers, we are looking for top talent!</u></h1></div>
    </row>
    <div class="container">
        <p>Coming Soon...</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>careers<%- contentFor('mainjs') %>careers<%- contentFor('articleID') %>careers