<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Contact Section</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>
contact
<%- contentFor('mainjs') %>
contact
<%- contentFor('articleID') %>
contact