<div class="jumbotron text-center">
  <div class="container">
    <h1>Contact Section</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>contact<%- contentFor('mainjs') %>contact<%- contentFor('articleID') %>contact