<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center"><u>Have a question</u></h1></div>
    </row>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>contact<%- contentFor('mainjs') %>contact<%- contentFor('articleID') %>contact