<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center"></h1></div>
    </row>
    <div class="container create-account-container">
        
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>create<%- contentFor('mainjs') %>create<%- contentFor('articleID') %>create