<div class="counter-page-header">
    <div class="container">
        <p>form for creating a account...</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>create<%- contentFor('mainjs') %>create<%- contentFor('articleID') %>create