<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
            <h1 class="text-center"><u>FAQ Section</u></h1></div>
    </row>
    <div class="container">
    	<ul>
    		<li>1. This section is current under construction.</li>
    	</ul>
    </div>
</div>
<%- contentFor('title') %>FAQ<%- contentFor('mainjs') %>faq<%- contentFor('articleID') %>FAQ
