<div class="counter-page-header">
    <div class="container">
        <p>form for retriving password or username</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>fogot<%- contentFor('mainjs') %>forgot<%- contentFor('articleID') %>forgot