<div class="img-home counter-page-header-1">
    <div class="col-xs-12 text-center">
        <h1>Small Games But Real Money!</h1>
    </div>
    <div class="col-xs-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="col-xs-12 text-center">
        <h1 class="bottom-home-title col-xs-12 ">Its <span class="counter-bold">Fantasy Gaming</span>, But Feels Like A Poker Game?</h1>
        <div class="col-xs-12">
            <a href="/create-account" class="btn button primary" style="width:200px;">Play For Free &nbsp;<i class="icon-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="light-section container">
    <div class="col-xs-12">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-10 widget-border text-center">
            <p class="module-title">We mix expert fantasy sports players, ex-online poker players, and new skilled players, with a hi-tech interface and cutting edge development. Are you tried of playing 2 dollar contest with the possiable of winning 20,000, but against 30,000 players what is the chance you can win the pool? Enter CounterDraft. We offer smaller games with skilled players. Games are never bigger then 27 players. You set the entry fee, and game type. entry fees can be as low as 1 dollar or as high as 1000. This is how pro's play Fantasy Sports!</p>
        </div>
        <div class="col-xs-1">&nbsp;</div>
    </div>
    <div class="col-xs-12">
        <ul>
            <li>Smaller games</li>
            <li>Big payouts</li>
            <li>Skilled players</li>
        </ul>
    </div>
</div>
<div class="how-to-win dark-section container" id="how_to_win">
    <div class="col-xs-12 text-center">
        <h2 class="page-title-1 ">How to play</h2>
    </div>
</div>
<div class="how-to-win light-section container" id="who_are_we">
    <div class="col-xs-12 text-center">
        <h2 class="page-title-1 ">Who are we</h2>
    </div>
</div>
<%- contentFor('title') %>CounterDraft<%- contentFor('mainjs') %>home<%- contentFor('articleID') %>home
