<div class="img-home counter-page-header">
    <div class="row">
        <div class="col-md-12 center">
            <h1>Small Games But Real Money & Big Money!</h1>
        </div>
        <div class="col-md-12 center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-12 center">
            <h1 >Its Fantancy Gaming, But Feels Like A Poker Game?</h1>
        </div>
    </div>
</div>
<div class="counter-page-header container">
    <div class="col-lg-12 col-md-12 col-sm-12"> &nbsp;</div>
</div>
<div class="how-to-win counter-page-header container">
    <div class="col-lg-12 col-md-12 col-sm-12 center">
        <h2 class="page-title-1" id="how_to_win">How To Win</h2></div>
</div>
<div class="who-are-we counter-page-header container">
    <div class="col-lg-12 col-md-12 col-sm-12 center">
        <h2 class="page-title-1" id="who_are_we">Who Are We?</h2></div>
</div>
<%- contentFor('title') %>Home<%- contentFor('mainjs') %>index<%- contentFor('articleID') %>home