<div class="page-header widget">
    <div class="row">
        <div class="col-md-12 center">
            <h1>Small Games But Real Money & Big Money!</h1>
        </div>
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-12 center to-bottom">
            <h1>Its Fantancy Gaming, But Feels Like A Poker Game?</h1>
        </div>
    </div>
</div>
<div class="page-header widget">
</div>
<%- contentFor('title') %>
Home
<%- contentFor('mainjs') %>
index
<%- contentFor('articleID') %>
home