<div class="img-home counter-page-header-1">
    <div class="col-xs-12 text-center">
        <h1>Small Games But Real Money!</h1>
    </div>
    <div class="col-xs-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="col-xs-12 text-center">
        <h1 class="bottom-home-title col-xs-12 ">Its <span class="counter-bold">Fantasy Gaming</span>, But Feels Like A Poker Game?</h1>
        <div class="col-xs-12">
            <a href="/create-account" class="btn button primary" style="width:200px;">Play For Free &nbsp;<i class="icon-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="how-to-win dark-section" id="how_to_win">
    <div class="col-xs-12 text-center">
        <h2 class="page-title-1 ">How It Works</h2>
    </div>
</div>
<div class="how-to-win light-section" id="who_are_we">
    <div class="col-xs-12 text-center">
        <h2 class="page-title-1 ">Who Are We?</h2>
    </div>
</div>
<%- contentFor('title') %>CounterDraft<%- contentFor('mainjs') %>home<%- contentFor('articleID') %>home
