<div class="img-home counter-page-header">
        <div class="col-xs-12 center">
            <h1>Small Games But Real Money!</h1>
        </div>
        <div class="col-xs-12 center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-xs-12 text-center">
        <h1 class="bottom-home-title col-xs-12 ">Its <span class="counter-bold">Fantancy Gaming</span>, But Feels Like A Poker Game?</h1>
          <div class="col-xs-12">
          <button type="button" class="btn button primary" style="width:200px;">Play For Free &nbsp;<i class="icon-chevron-right"></i></button>
        </div>
        </div>
</div>
<div class="container mid-content">
    <div class="col-xs-12">&nbsp;</div>
</div>

<!-- <div class="container mid-content">
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-6">&nbsp;</div>
     <div class="col-xs-6">
     <div class="apple-message-box"><span>Start playing,<br>start winning!</span>
	        <svg class="dialog-arrow">
		  		<polygon points="0,0 0,55 45,0" style="fill: #1e96bc;stroke: #1e96bc;stroke-width: 0;"/>
			</svg>
		</div>
     </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="row">
        <div class="col-xs-4" style="left:35%;">
            <button type="button" class="btn button primary btn-block">Play For Free</button>
        </div>
    </div>
</div> -->
<div class="how-to-win counter-page-header">
    <h2 class=" center" id="how_to_win">How It Works</h2>
</div>
<div class="who-are-we counter-page-header">
    <h2 class=" center" id="who_are_we">Who Are We?</h2>
</div>

<%- contentFor('title') %>Counter Draft<%- contentFor('mainjs') %>index<%- contentFor('articleID') %>home