<div class="img-home counter-page-header  widget">
    <div class="row">
        <div class="col-md-12 center to-top">
            <h1>Small Games But Real Money & Big Money!</h1>
        </div>
        <div class="col-md-12 center to-bottom">
            <h1>Its Fantancy Gaming, But Feels Like A Poker Game?</h1>
        </div>
    </div>
</div>
<div class="how-to-win counter-page-header  widget">
</div>
<div class="who-are-we counter-page-header  widget">
</div>
<%- contentFor('title') %>
Home
<%- contentFor('mainjs') %>
index
<%- contentFor('articleID') %>
home