<div class="jumbotron text-center">
  <div class="container">
    <h1>What makes Counter Draft, online fantnacy game play, legal?</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>Legal Info<%- contentFor('mainjs') %>legal<%- contentFor('articleID') %>legal