<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
            <h1 class="text-center"><u>Meet The Team</u></h1></div>
    </row>
    <div class="container employee-container">
        <div class="col-xs-12 col-lg-3 col-md-4 col-sm-4">
        <div class="e-holder">&nbsp;<h2 name="title" class="to-top">CEO</h2><h2 name="name" class="to-bottom">Jay Hubbert</h2></div>
        </div>
        <div class="col-xs-12 col-lg-3 col-md-4 col-sm-4">
            <div class="e-holder">&nbsp;<h2 name="title" class="to-top">CTO</h2><h2 name="name" class="to-bottom">B Bobby</h2></div>
        </div>
        <div class="col-xs-12 col-lg-3 col-md-4 col-sm-4">
            <div class="e-holder">&nbsp;<h2 name="title" class="to-top">COO</h2><h2 name="name" class="to-bottom">John Laws</h2></div>
        </div>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>meet the team<%- contentFor('mainjs') %>meet-the-team<%- contentFor('articleID') %>meet-the-team
