<section ng-controller="SaasCtrl as sCtrl" class="main">
    <div class="container">
    	 <div class="col-xs-12">&nbsp;</div>
    	 <div class="col-xs-12">&nbsp;</div>
        <h2 class="col-xs-12 text-center">CounterDraft SaaS Platform</h2>
    </div>
    <div class="home-body container">
        <div class="col-xs-12 light-section">
            <h3 class="col-xs-12">Our SaaS product provides everything you need to run a in-house Fantasy Sport Contest</h3>
            <div class="col-xs-12">
                <ul class="welcome-title">
                    <li>Manage organization users or administrator who can access your Counter Draft appliciation.</li>
                    <li>Create a fantasy sport game using our simple wizard.</li>
                    <li>View all active games and get full details.</li>
                    <li>Run reports so you can see how much money your organization is generating for fantasy sports.</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">Add in just a few clicks</h3>
            <div class="col-xs-12">
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">Create any fantasy sport game using our simple wizard</h3>
            <div class="col-xs-12">
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 dark-section widget">
            <h3 class="col-xs-12">You manage the game and you set the payouts</h3>
            <div class="col-xs-12">
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 light-section">
            <h3 class="col-xs-12">Add players to your frantasy sport game is quick, easy, and painless</h3>
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</section>
<%- contentFor('title') %>SaaS platform<%- contentFor('mainjs') %>SaaS platform<%- contentFor('articleID') %>SaaS platform<%- contentFor('end') %>