<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
            <h1 class="text-center"><u>Terms of Service</u></h1></div>
    </row>
    <div class="container">
        <div class="full-width">
            <p>
                (Last Updated 9/13/2015)
            </p>
            <h2>
            IMPORTANT LEGAL NOTICE REGARDING TERMS OF SERVICE OF COUNTERDRAFT
        </h2>
            <p>
                IMPORTANT! PLEASE CAREFULLY READ THESE TERMS OF SERVICE BEFORE USING COUNTERDRAFT, AS THEY AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS.
            </p>
            <h2>
            USER AGREEMENT
        </h2>
            <p>
                CounterDraft owns and operates the Website that links to these Terms of Service. We are pleased to offer you access to our Website and the ability to participate in our fantasy sports contests of skill, other content, products, services, and promotions (collectively the "Services") that we may provide from our Website, subject to these Terms of Service (the "Terms of Service"), our privacy policy (the "Privacy Policy") and the Official Rules and Regulations for the applicable contests and promotions (the "Rules" or "Rules and Scoring," and together with the Terms of Service and the Privacy Policy, the "Agreements").
            </p>
            <h2>
            CONSIDERATION
        </h2>
            <p>
                You agree to these Terms of Service by accessing or using the Website, registering for Services offered on the Website, or by accepting, uploading, submitting or downloading any information or content from or to the Website. IF YOU DO NOT AGREE TO BE BOUND BY ALL OF THESE Terms of Service, DO NOT USE THE WEBSITE. These Terms of Service constitute a legal agreement between you and CounterDraft, and shall apply to your use of the Website and the Services even after termination.
            </p>
            <h2>
            ELIGIBILITY
        </h2>
            <p>
                You must be at least 18 years of age to open an account, participate in contests, or win prizes offered by the Website. In jurisdictions, territories, and locations where the minimum age for permissible use of the Website is greater than 18 years old, you must meet the age requirement in your local jurisdiction or territory. You must be at least 19 years of age at time of contest registration if you are a legal resident of Alabama or Nebraska. Legal residents physically located in any of the 50 states and Washington DC, excluding Arizona, Iowa, Louisiana, Montana, and Washington are eligible to open an account and participate in contests offered by the Website. Legal residents of Arizona, Iowa, Louisiana, Montana, and Washington (the "Excluded States") are ineligible for prizes offered by the Website. Residents of the Excluded States are eligible to open and maintain accounts on the Website for use only in games that do not offer prizes. Legal residents of Canada are eligible to open an account and participate in contests offered by the Website.
            </p>
            <p>
                You may establish only one account per person to participate in the Services offered on the Website. In the event CounterDraft discovers that you have opened more than one account per person, in addition to any other rights that CounterDraft may have, CounterDraft reserves the right to suspend or terminate any or all of your accounts and terminate, withhold or revoke the awarding of any prizes. You are responsible for maintaining the confidentiality of your login names and passwords and you accept responsibility for all activities, charges, and damages that occur under your account. It shall be a violation of these Terms of Service to allow any other person to use your account to participate in any contest. If you have reason to believe that someone is using your account without your permission, you should contact us immediately. We will not be responsible for any loss or damage resulting from your failure to notify us of unauthorized use. If we request registration information from you, you must provide us with accurate and complete information and must update the information when it changes.
            </p>
            <p>
                "Authorized Account Holder" is defined as the natural person 18 years of age or older who is assigned to an e-mail address by an Internet access provider, on-line service provider, or other organization (e.g., business, education institution, etc.) that is responsible for assigning e-mail addresses for the domain associated with the submitted e-mail address for registration on the Website. By inputting a payment method to participate in real money contests, the Authorized Account Holder hereby affirms that the Authorized Account Holder is the lawful owner of the payment method account used to make any deposit(s) on the Website. It shall be a violation of these Terms of Service for any Authorized Account Holder to submit payment using any payment method that is not owned by the Authorized Account Holder.
            </p>
            <p>
                CounterDraft employees may use the Website, and will from time to time do so for the purpose of testing the site user experience, socializing and competing with customers to build community, and other reasonable and fair uses at the discretion of CounterDraft.
            </p>
            <h2>
            CONTEST ENTRY
        </h2>
            <p>
                Users will be able to visit the Website and view the games available for entry (the "Contests"). Each individual Contest that is not free to enter has an entry fee listed in US dollars. When you select to participate in a Contest and complete the entry process, the listed amount of US dollars will be debited from your CounterDraft account.
            </p>
            <h2>
            REFUND POLICY
        </h2>
            <p>
                All payments are final. No refunds will be issued. In the event of a dispute regarding the identity of the person submitting an entry, the entry will be deemed submitted by the person in whose name the account was registered.
            </p>
            <h2>
            CONDITIONS OF PARTICIPATION
        </h2>
            <p>
                By entering a Contest, entrants agree to be bound by these Rules and the decisions of CounterDraft, which shall be final and binding in all respects. The Company, at its sole discretion, may disqualify any entrant from a Contest, refuse to award benefits or prizes and require the return of any prizes, if the entrant engages in conduct the Company deems to be improper, unfair or otherwise adverse to the operation of the Contest or is in any way detrimental to other entrants. Improper conduct includes, but is not limited to:
            </p>
            <ul>
                <li>
                    Falsifying personal information required to enter a Contest or claim a prize;
                </li>
                <li>
                    Engaging in any type of financial fraud including unauthorized use of credit instruments to enter a Contest or claim a prize;
                </li>
                <li>
                    Colluding with any other individual(s) or engaging in any type of syndicate play;
                </li>
                <li>
                    Any violation of Contest rules or the Terms of Service;
                </li>
                <li>
                    Using automated means (including but not limited to harvesting bots, robots, parser, spiders or screen scrapers) to obtain, collect or access any information on the Website or of any User for any purpose.
                </li>
                <li>
                    Any type of bonus abuse, abuse of the refer-a-friend program, or abuse of any other offers or promotions;
                </li>
                <li>
                    Tampering with the administration of a Contest or trying to in any way tamper with the computer programs or any security measure associated with a Contest;
                </li>
                <li>
                    Obtaining other entrants information and spamming other entrants; or
                </li>
                <li>
                    Abusing the Website in any way.
                </li>
            </ul>
            <p>
                In certain circumstances, the Company may permit the limited use of scripts on the Website. Please contact support@counterDraft.com for further details.
            </p>
            <p>
                Users further acknowledge that the forfeiture and/or return of any prize shall in no way prevent CounterDraft from pursuing criminal or civil proceedings in connection with such conduct.
            </p>
            <p>
                By entering into a Contest or accepting any prize, entrants, including but not limited to the winner(s), agree to indemnify, release and to hold harmless CounterDraft, its parents, subsidiaries, affiliates and agents, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities (collectively, the "Released Parties"), from any and all liability, claims or actions of any kind whatsoever, including but not limited to injuries, damages, or losses to persons and property which may be sustained in connection with participation in the Contest, the receipt, ownership, use or misuse of any prize or while preparing for, participating in and/or travelling to or from any prize related activity, as well as any claims based on publicity rights, defamation, or invasion of privacy. CounterDraft may, in its sole and absolute discretion, require an Authorized Account Holder to execute a separate release of claims similar to the one listed above in this Paragraph as a condition of being awarded any prize or receiving any payout.
            </p>
            <p>
                CounterDraft is not responsible for: any incorrect, invalid or inaccurate entry information; human errors; postal delays/postage due mail; technical malfunctions; failures, including public utility or telephone outages; omissions, interruptions, deletions or defects of any telephone system or network, computer online systems, data, computer equipment, servers, providers, or software (including, but not limited to software and operating systems that do not permit an entrant to participate in a Contest), including without limitation any injury or damage to any entrant's or any other person's computer or video equipment relating to or resulting from participation in a Contest; inability to access the Website, or any web pages that are part of or related to the Website; theft, tampering, destruction, or unauthorized access to, or alteration of, entries and/or images of any kind; data that is processed late or incorrectly or is incomplete or lost due to telephone, postal issues, computer or electronic malfunction or traffic congestion on telephone lines or transmission systems, or the Internet, or any service provider's facilities, or any phone site or website or for any other reason whatsoever; typographical, printing or other errors, or any combination thereof.
            </p>
            <p>
                CounterDraft is not responsible for incomplete, illegible, misdirected or stolen entries. If for any reason a Contest is not capable of running as originally planned, or if a Contest, computer application, or website associated therewith (or any portion thereof) becomes corrupted or does not allow the proper entry to a Contest in accordance with the Terms of Service or applicable Contest rules, or if infection by a computer (or similar) virus, bug, tampering, unauthorized intervention, actions by entrants, fraud, technical failures, or any other causes of any kind, in the sole opinion of CounterDraft corrupts or affects the administration, security, fairness, integrity, or proper conduct of a Contest, the Company reserves the right, at its sole discretion, to disqualify any individual implicated in such action and/or to cancel, terminate, extend, modify or suspend the Contest, and select the winner(s) from all eligible entries received. If such cancellation, termination, modification or suspension occurs, notification will be posted on the Website.
            </p>
            <p>
                ANY ATTEMPT BY AN ENTRANT OR ANY OTHER INDIVIDUAL TO DELIBERATELY DAMAGE THE WEBSITE OR UNDERMINE THE LEGITIMATE OPERATION OF ANY CONTEST IS A VIOLATION OF CRIMINAL AND/OR CIVIL LAWS AND SHOULD SUCH AN ATTEMPT BE MADE, CounterDraft RESERVES THE RIGHT TO SEEK DAMAGES AND OTHER REMEDIES FROM ANY SUCH PERSON TO THE FULLEST EXTENT PERMITTED BY LAW.
            </p>
            <p>
                All entries become the property of CounterDraft and will not be acknowledged or returned.
            </p>
            <p>
                To be eligible to enter any contest or receive any prize, the Authorized Account Holder may be required to provide CounterDraft with additional documentation and/or information to verify the identity of the Authorized Account Holder, and to provide proof that all eligibility requirements are met. In the event of a dispute as to the identity or eligibility of an Authorized Account Holder, CounterDraft will, in its sole and absolute discretion, utilize certain information collected by CounterDraft to assist in verifying the identity and/or eligibility of such Authorized Account Holder.
            </p>
            <p>
                Participation in each Contest must be made only as specified in the Terms of Service. Failure to comply with these Terms of Service will result in disqualification and, if applicable, prize forfeiture.
            </p>
            <p>
                Where legal, both entrants and winner consent to the use of their name, voice, and likeness/photograph in and in connection with the development, production, distribution and/or exploitation of any Contest or the Website. Winners agree that from the date of notification by CounterDraft of their status as a potential winner and continuing until such time when CounterDraft informs them that they no longer need to do so that they will make themselves available to CounterDraft for publicity, advertising, and promotion activities.
            </p>
            <p>
                CounterDraft reserves the right to move entrants from the Contests they have entered to substantially similar Contests in certain situations determined by CounterDraft in its sole discretion.
            </p>
            <h2>
            CONTEST PRIZES AND PROMOTIONS
        </h2>
            <p>
                Prizes will only be awarded if a Contest is run. We reserve the right to cancel Contests at any time. In the event of a cancellation, all entry fees will be refunded to the customer except as specifically provided in these Terms of Service.
            </p>
            <p>
                Guaranteed prizes are offered in connection with some of the Contests offered by the Website. Each Contest or promotion is governed by its own set of official rules. We encourage you to read such Contest and promotions Rules before participating.
            </p>
            <h2>
            OTHER LEGAL RESTRICTIONS
        </h2>
            <h2>
            CONTEST OF SKILL
        </h2>
            <p>
                Contests offered on the Website are contests of skill. Winners are determined by the objective criteria described in the Contest deadline, roster, Rules, scoring, and any other applicable documentation associated with the Contest. From all entries received for each Contest, winners are determined by the individuals who use their skill and knowledge of relevant sports information and fantasy sports rules to accumulate the most points according to the corresponding scoring rules. The Website and Contests may not be used for any form of illicit gambling.
            </p>
            <h2>
            CONTEST STATISTICS AND LIVE SCORING
        </h2>
            <p>
                To the extent that we offer 'live' statistics during gameplay, all 'live' statistics and other information provided through the CounterDraft Website and related information sources are unofficial. Live sports statistics and their respective components are offered for informational and/or entertainment purposes only and are not used to determine the results of our Contests. While CounterDraft and the third parties used to provide the CounterDraft Services use reasonable efforts to include accurate and up-to-date information, neither CounterDraft nor its third party providers warrant or make any representations of any kind with respect to the information provided through the CounterDraft Website and related information sources. CounterDraft and its third party providers shall not be responsible or liable for the accuracy, usefulness, or availability of any information transmitted or made available via the CounterDraft Website and related information sources, and shall not be responsible or liable for any error or omissions in that information.
            </p>
            <h2>
            CONTEST RESULTS
        </h2>
            <p>
                Contest results and prize calculations are based on the final statistics and scoring results at the completion of the last professional sports game of each individual Contest. Once Contest results are reviewed and graded, prizes are awarded. The scoring results of a Contest will not be changed regardless of any official statistics or scoring adjustments made by the leagues at later times or dates, except in CounterDraft' sole discretion.
            </p>
            <p>
                CounterDraft reserves the right, in its sole and absolute discretion, to deny any contestant the ability to participate in head-to-head contests for any reason whatsoever. Further, CounterDraft may, in its sole and absolute discretion, invalidate any head-to-head contest result for the purposes of preventing abusive and/or any unfair or potentially unlawful activity, or in the event that there is a risk of any such abusive, illegal, or unfair activity.
            </p>
            <h2>
            PRIZES
        </h2>
            <p>
                At the conclusion of each Contest, prizes will be awarded by 12:00 NOON EST on the following day except in circumstances where technical failure or other reasons prevent such timely payout. Contest prizes are listed in our prize table list. Prizes won are added to the winning participants account balance. In the event of a tie, prizes are divided evenly amongst the participants that have tied.
            </p>
            <h2>
            PRIZE TABLES
        </h2>
            <p>
                Contest prize payouts will be published with the creation of each new contest. CounterDraft reserves the right, in its sole discretion, to cancel or suspend the contests (or any portion thereof) should virus, bugs, unauthorized human intervention, or other causes corrupt administration, security, fairness, integrity or proper operation of the contest (or any portion thereof) warrant doing so. Notification of such changes may be provided by CounterDraft to its customers but will not be required.
            </p>
            <h2>
            PAYMENT AND WITHDRAWAL OF PRIZES
        </h2>
            <p>
                Winners are posted on the Website.
            </p>
            <p>
                Entrants may withdraw their cash prize awards as well as cash deposits by using the "Withdrawal" option on the Website. Entrants may be requested to complete an affidavit of eligibility and a liability/publicity release (unless prohibited by law) and/or appropriate tax forms and forms of identification including but not limited to a Driver's License, Proof of Residence, and/or any information relating to payment/deposit accounts as reasonably requested by CounterDraft in order to complete the withdrawal of prizes. Failure to comply with this requirement may result in disqualification and forfeiture of any prizes. Disqualification or forfeiture of any prizes may also occur if it is determined any such entrant did not comply with these Terms of Service in any manner.
            </p>
            <p>
                Checks for withdrawal requests are processed within 14 business days, and are sent via U.S. Mail. Promotional deposits, credits, and other bonuses may not be withdrawn from a CounterDraft account unless appropriate terms of the promotion are achieved first by the user.
            </p>
            <p>
                All taxes associated with the receipt of any prize are the sole responsibility of the winner. In the event that the awarding of any prizes to winners of Contests is challenged by any legal authority, CounterDraft reserves the right in its sole discretion to determine whether or not to award such prizes.
            </p>
            <p>
                No substitution or transfer of prize is permitted, except that CounterDraft reserves the right to substitute a prize of equal value or greater if the advertised prize is unavailable. All prizes are awarded "as is" and without warranty of any kind, express or implied (including, without limitation, any implied warranty of merchantability for a particular purpose).
            </p>
            <p>
                Any withdrawal requests, after approved by CounterDraft, will be credited back to the same credit card or method of payment used to deposit funds on the Website. CounterDraft will only release withdrawals to a different credit card or other payment method other than that which was used to make deposit(s) after the aggregate amount of such deposit(s) has already been released back to the credit card(s) or payment method(s) used for the deposit(s).
            </p>
            <p>
                <strong></strong>
            </p>
            <h2>
            TERMINATION AND EFFECT OF TERMINATION
        </h2>
            <p>
                In addition to any other legal or equitable remedy, CounterDraft may, without prior notice, immediately revoke any or all of your rights granted hereunder. In such event, you will immediately cease all access to and use of the CounterDraft Website. CounterDraft may revoke any password(s) and/or account identification issued to you and deny you access to and use of the Website. Any such action shall not affect any rights and obligations arising prior thereto. All provisions of the Terms of Service which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>
            <h2>
            DISCLAIMER OF WARRANTIES
        </h2>
            <p>
                THE WEBSITE, INCLUDING, WITHOUT LIMITATION, ALL CONTENT, SOFTWARE, AND FUNCTIONS MADE AVAILABLE ON OR ACCESSED THROUGH OR SENT FROM THE WEBSITE, ARE PROVIDED "AS IS," "AS AVAILABLE," AND "WITH ALL FAULTS." TO THE FULLEST EXTENT PERMISSIBLE BY LAW, THE COMPANY AND ITS PARENTS, SUBSIDIARIES AND AFFILIATES MAKE NO REPRESENTATION OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER (EXPRESS OR IMPLIED) ABOUT: (A) THE WEBSITE; (B) THE CONTENT AND SOFTWARE ON AND PROVIDED THROUGH THE WEBSITE; (C) THE FUNCTIONS MADE ACCESSIBLE ON OR ACCESSED THROUGH THE WEBSITE; (D) THE MESSAGES AND INFORMATION SENT FROM THE WEBSITE BY USERS; (E) ANY PRODUCTS OR SERVICES OFFERED VIA THE WEBSITE OR HYPERTEXT LINKS TO THIRD PARTIES; AND/OR (F) SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION THROUGH THE WEBSITE OR ANY LINKED SITE. THE COMPANY DOES NOT WARRANT THAT THE WEBSITE, ANY OF THE WEBSITES' FUNCTIONS OR ANY CONTENT CONTAINED THEREIN WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE WEBSITES OR THE SERVERS THAT MAKES THEM AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            </p>
            <p>
                THE COMPANY DOES NOT WARRANT THAT YOUR ACTIVITIES OR USE OF THE WEBSITE IS LAWFUL IN ANY PARTICULAR JURISDICTION AND, IN ANY EVENT, THE COMPANY SPECIFICALLY DISCLAIMS SUCH WARRANTIES. YOU UNDERSTAND THAT BY USING ANY OF THE FEATURES OF THE WEBSITE, YOU ACT AT YOUR OWN RISK, AND YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE WEBSITE OR THE CONTENT. FURTHER, THE COMPANY AND ITS PARENTS, SUBSIDIARIES AND AFFILIATES DISCLAIM ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, WITHOUT LIMITATION, NONINFRINGEMENT, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND TITLE.
            </p>
            <p>
                THE COMPANY, ITS PARENTS, SUBSIDIARIES AND AFFILIATES, AND THE DIRECTORS, OFFICERS, EMPLOYEES, AND OTHER REPRESENTATIVES OF EACH OF THEM, SHALL NOT BE LIABLE FOR THE USE OF THE WEBSITE INCLUDING, WITHOUT LIMITATION, THE CONTENT AND ANY ERRORS CONTAINED THEREIN. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO THIS AGREEMENT.
            </p>
            <h2>
            LIMITATION OF LIABILITY
        </h2>
            <p>
                YOU UNDERSTAND AND AGREE THAT THE COMPANY LIMITS ITS LIABILITY IN CONNECTION WITH YOUR USE OF THE WEBSITE AS SET FORTH BELOW: UNDER NO CIRCUMSTANCES SHALL THE COMPANY, ITS PARENTS, SUBSIDIARIES, OR AFFILIATES, OR THE DIRECTORS, OFFICERS, EMPLOYEES, OR OTHER REPRESENTATIVES OF EACH OF THEM (COLLECTIVELY, THE "COMPANY ENTITIES AND INDIVIDUALS"), BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY SPECIAL, DIRECT, INDIRECT, INCIDENTAL, EXEMPLARY, ECONOMIC, PUNITIVE, OR CONSEQUENTIAL DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO (1) THE WEBSITE, THE CONTENT, OR YOUR UPLOAD INFORMATION; (2) THE USE OF, INABILITY TO USE, OR PERFORMANCE OF THE WEBSITE; (3) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE COMPANY OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR USE OF THE WEBSITE OR CONTENT;(4) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OWNERS; OR (5) ANY ERRORS OR OMISSIONS IN THE WEBSITE'S TECHNICAL OPERATION, EVEN IF FORESEEABLE OR EVEN IF THE COMPANY ENTITIES AND INDIVIDUALS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE WEBSITE). IN NO EVENT WILL THE COMPANY ENTITIES AND INDIVIDUALS BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL THE COMPANY ENTITIES AND INDIVIDUALS TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION EXCEED ONE HUNDRED DOLLARS ($100). THE COMPANY ENTITIES AND INDIVIDUALS ARE NOT RESPONSIBLE FOR ANY DAMAGE TO ANY USER'S COMPUTER, HARDWARE, COMPUTER SOFTWARE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION. YOUR ACCESS TO AND USE OF THIS WEBSITE IS AT YOUR RISK. IF YOU ARE DISSATISFIED WITH THE WEBSITE OR ANY OF THE CONTENT, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE ACCESSING AND USING THE WEBSITE OR THE CONTENT. YOU RECOGNIZE AND CONFIRM THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF THE COMPANY'S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEBSITE OR OTHER PROPERTY OWNED OR CONTROLLED BY THE COMPANY AND/OR ITS PARENTS, SUBSIDIARIES, AND/OR AFFILIATES OR YOUR UPLOAD INFORMATION, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY COMPANY WEBSITE OR OTHER PROPERTY OR YOUR UPLOAD INFORMATION OR ANY AND ALL ACTIVITIES OR ACTIONS RELATED THERETO. BY ACCESSING THE WEBSITE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED. ACCORDINGLY, YOU AGREE TO WAIVE THE BENEFIT OF ANY LAW, INCLUDING, TO THE EXTENT APPLICABLE, CALIFORNIA CIVIL CODE SECTION 1542, THAT OTHERWISE MIGHT LIMIT YOUR WAIVER OF SUCH CLAIMS.
            </p>
            <h2>
            INTELLECTUAL PROPERTY RIGHTS
        </h2>
            <p>
                The content on the Website, including without limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the like and the trademarks, service marks and logos contained therein (the "Intellectual Property"), are owned by or licensed to CounterDraft, subject to copyright and other intellectual property rights under United States and foreign laws and international conventions. Content on the Website is provided to you AS IS for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. CounterDraft reserves all rights not expressly granted in and to the Website and the Intellectual Property. You agree to not engage in the use, copying, or distribution of any of the Intellectual Property other than expressly permitted herein. If you download or print a copy of the Intellectual Property for personal use, you must retain all copyright and other proprietary notices contained therein. You agree not to circumvent, disable or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any Intellectual Property or enforce limitations on use of the Website or the Intellectual Property therein.
            </p>
            <p>
                Some of the Services may allow you to submit or transmit audio, video, text, or other materials (collectively, "User Submissions") to or through the Services. When you provide User Submissions, you grant to CounterDraft, its parents, subsidiaries, affiliates, and partners a non-exclusive, worldwide, royalty-free, fully sublicenseable license to use, distribute, edit, display, archive, publish, sublicense, perform, reproduce, make available, transmit, broadcast, sell, translate, and create derivative works of those User Submissions, and your name, voice, likeness and other identifying information where part of a User Submission, in any form, media, software, or technology of any kind now known or developed in the future, including, without limitation, for developing, manufacturing, and marketing products. You hereby waive any moral rights you may have in your User Submissions.
            </p>
            <p>
                In addition, you agree that any User Submissions you submit shall not contain any material that is, in the sole and absolute discretion of CounterDraft, inappropriate, obscene, vulgar, unlawful, or otherwise objectionable (hereinafter, "Prohibited Content"). Posting of any Prohibited Content, in addition to any and all other rights and remedies available to CounterDraft, may result in account suspension or termination.
            </p>
            <p>
                We respect your ownership of User Submissions. If you owned a User Submission before providing it to us, you will continue owning it after providing it to us, subject to any rights granted in the Terms of Service and any access granted to others. If you delete a User Submission from the Services, our general license to that User Submission will end after a reasonable period of time required for the deletion to take full effect. However, the User Submission may still exist in our backup copies, which are not publicly available. If your User Submission is shared with third parties, those third parties may have retained copies of your User Submissions. In addition, if we made use of your User Submission before you deleted it, we will continue to have the right to make, duplicate, redistribute, and sublicense those pre-existing uses, even after you delete the User Submission. Terminating your account on a Service will not automatically delete your User Submissions.
            </p>
            <p>
                We may refuse or remove a User Submission without notice to you. However, we have no obligation to monitor User Submissions, and you agree that neither we nor our parents, subsidiaries, affiliates, employees, or agents will be liable for User Submissions or any loss or damage resulting from User Submissions.
            </p>
            <p>
                Except as provided in the Privacy Policy, we do not guarantee that User Submissions will be private, even if the User Submission is in a password-protected area. Accordingly, you should not provide User Submissions that you want protected from others.
            </p>
            <p>
                You represent and warrant that you have all rights necessary to grant to CounterDraft the license above and that none of your User Submissions are defamatory, violate any rights of third parties (including intellectual property rights or rights of publicity or privacy), or violate applicable law.
            </p>
            <h2>
            ARBITRATION, CONSENT TO JURISDICTION IN MASSACHUSETTS, ATTORNEY’S FEES
        </h2>
            <p>
                Any and all disputes, claims or controversies arising out of or relating to this Agreement, the breach thereof, or any use of the Website (including all commercial transactions conducted through the Website) ("Claims"), except for claims filed in a small claims court that proceed on an individual (non-class, non-representative) basis, shall be settled by binding arbitration before a single arbitrator appointed by the American Arbitration Association ("AAA") in accordance with its then governing rules and procedures, including the Supplementary Procedures for Consumer-Related Disputes, where applicable. In agreeing to arbitrate all Claims, you and CounterDraft waive all rights to a trial by jury in any action or proceeding involving any Claim. The arbitration shall be held in Suffolk County, Massachusetts, and judgment on the award rendered by the arbitrator may be entered by any court having jurisdiction thereof. This arbitration undertaking is made pursuant to and in connection with a transaction involving interstate commerce, and shall be governed by and construed and interpreted in accordance with the Federal Arbitration Act at 9 U.S.C. Section 1, et seq. This arbitration provision shall survive termination of this Agreement. Subject to the limitations set forth below, the arbitrator shall have authority to award legal and equitable relief available in the courts of the Commonwealth of Massachusetts, provided that:
            </p>
            <p>
                The arbitrator shall not have authority to award punitive damages; and
            </p>
            <p>
                Any and all claims shall be arbitrated on an individual basis only, and shall not be consolidated or joined with or in any arbitration or other proceeding involving a Claim of any other party. You and CounterDraft agree that the arbitrator shall have no authority to arbitrate any Claim as a class action or in any other form other than on an individual basis.
            </p>
            <p>
                For any Claims that are not subject to arbitration: (a) the exclusive jurisdiction and venue for proceedings involving Claims shall be the courts of competent jurisdiction sitting within Suffolk County, Massachusetts (the "Forum"), and the parties hereby waive any argument that any such court does not have personal jurisdiction or that the Forum is not appropriate or convenient; (b) you and CounterDraft waive any and all rights to trial by jury with respect to any Claims.
            </p>
            <p>
                In the event that either party initiates a proceeding involving any Claim other than an arbitration in accordance with this Section, or initiates a proceeding involving a Claim under this Section other than in the Forum, the other party shall recover all attorneys' fees and expenses reasonably incurred in enforcing this Agreement to arbitrate and the Forum to which the parties have herein agreed.
            </p>
            <h2>
            MISCELLANEOUS
        </h2>
            <p>
                These Terms of Service shall be governed by the internal substantive laws of the Commonwealth of Massachusetts, without respect to its conflict of laws principles. Any claim or dispute between you and CounterDraft that arises in whole or in part from the Terms of Service, the Website or any Contest shall be decided exclusively by a court of competent jurisdiction located in Suffolk County, Massachusetts.
            </p>
            <p>
                Nothing in the Terms of Service shall create or confer any rights or other benefits in favor of any third parties except as specifically provided herein. By participating in any Contest on the Website, you agree to indemnify, protect, defend and hold harmless DK, its parents, subsidiaries, affiliates and divisions, and their respective directors, officers, employees, agents and representatives (the "DK Entities"), from and against any and all third party claims, liabilities, losses, damages, injuries, demands, actions, causes of action, suits, proceedings, judgments and expenses, including reasonable attorneys’ fees, court costs and other legal expenses including, without limitation, those costs incurred at the trial and appellate levels and in any bankruptcy, reorganization, insolvency or other similar proceedings, and any other legal expenses (collectively, "Claims") arising from or connected with your use of the Website, any payment methods used, any funding of your account, and/or your participation in any Contest. The Website may contain links to third party websites that are not owned or controlled by CounterDraft. CounterDraft has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, CounterDraft will not and cannot censor or edit the content of any third-party site. By using the Website, you expressly relieve CounterDraft from any and all liability arising from your use of any third-party website. Accordingly, we encourage you to be aware when you leave the Website and to read the terms and conditions and privacy policy of each other website that you visit.
            </p>
            <p>
                Nothing in the Terms of Service shall create or be deemed to create a partnership, agency, trust arrangement, fiduciary relationship or joint venture between you and CounterDraft.
            </p>
            <p>
                No professional or amateur sports league or any team associated with any professional or amateur sports league is associated with CounterDraft or in any way affiliated or associated with the Contests.
            </p>
            <p>
                Third-party online publishers that refer users to the CounterDraft website shall not be responsible or liable for the CounterDraft website or any of the content, software, or functions made available on, or accessed through, or sent from, the CounterDraft website.
            </p>
            <p>
                If any provision of these Terms of Service is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect.
            </p>
            <p>
                No waiver of any term of these Terms of Service shall be deemed a further or continuing waiver of such term or any other term, and CounterDraft' failure to assert any right or provision under these Terms of Service shall not constitute a waiver of such right or provision.
            </p>
            <p>
                CounterDraft reserves the right to amend these Terms of Service at any time and without notice, and it is your responsibility to review these Terms of Service for any changes. If you continue to use the Services after we change the Terms of Service, you accept all changes. The failure of CounterDraft to comply with any provision of these Terms of Service due to an act of God, hurricane, war, fire, riot, earthquake, terrorism, act of public enemies, actions of governmental authorities outside of the control of the Company (excepting compliance with applicable codes and regulations) or other force majeure event will not be considered a breach of these Terms of Service.
            </p>
            <p>
                CounterDraft AND OTHER TRADEMARKS CONTAINED ON THE WEBSITE ARE TRADEMARKS OR REGISTERED TRADEMARKS OF CounterDraft IN THE UNITED STATES AND/OR OTHER COUNTRIES. THIRD PARTY TRADEMARKS, TRADE NAMES, PRODUCT NAMES AND LOGOS MAY BE THE TRADEMARKS OR REGISTERED TRADEMARKS OF THEIR RESPECTIVE OWNERS. YOU MAY NOT REMOVE OR ALTER ANY TRADEMARK, TRADE NAMES, PRODUCT NAMES, LOGO, COPYRIGHT OR OTHER PROPRIETARY NOTICES, LEGENDS, SYMBOLS OR LABELS ON THE WEBSITE.
            </p>
            <h2>
            MOBILE Application
        </h2>
            <p>
                These Terms of Service shall also apply to the use of the CounterDraft Mobile Application. These Terms of Service are intended to be in addition to the End User License Agreement (found here: https://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/) for the Mobile Application, and to the extent any of these Terms of Service conflict with the End User License Agreement, these Terms of Service shall be deemed to apply and the conflicting provision in the End User License Agreement shall not be applicable. Any reference to the Website in these Terms of Service shall also be deemed to include the Mobile Application.
            </p>
            <br>
            <hr>
            <br>
            <h2>IMPORTANT LEGAL NOTICE REGARDING Terms of Service OF CounterDraft’ LEAGUE HUB PLATFORM</h2>
            <p>
                IMPORTANT! PLEASE CAREFULLY READ THESE Terms of Service BEFORE USING CounterDraft’ LEAGUE HUB, AS THEY AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS.
            </p>
            <h2>
            USER AGREEMENT
        </h2>
            <p>
                CounterDraft owns and operates the Website that links to these League Hub Terms. We are pleased to offer you access to our Website and the ability to participate in our fantasy sports payment management services (collectively the "Services") that we may provide from our Website, subject to these Terms of Service (the "League Hub Terms"), our privacy policy (the "Privacy Policy") and the Official Rules and Regulations for use of the Services (the "Rules", and together with the Terms of Service and the Privacy Policy, the "Agreements").
            </p>
            <h2>
            CONSIDERATION
        </h2>
            <p>
                You agree to these League Hub Terms by accessing or using the Website, registering for Services offered on the Website, or by accepting, uploading, submitting or downloading any information or content from or to the Website. IF YOU DO NOT AGREE TO BE BOUND BY ALL OF THESE LEAGUE HUB TERMS, DO NOT USE THE WEBSITE. These League Hub Terms constitute a legal agreement between you and CounterDraft, and shall apply to your use of the Website and the Services even after termination.
            </p>
            <h2>
            ELIGIBILITY
        </h2>
            <p>
                You must be at least 18 years of age to open an account and use the Services. In jurisdictions, territories, and locations where the minimum age for permissible use of the Website is greater than 18 years old, you must meet the age requirement in your local jurisdiction or territory. You must be at least 19 years of age at time of registration for the Services if you are a legal resident of Alabama or Nebraska. Legal residents physically located in any of the 50 states and Washington DC, excluding Arizona, Iowa, Louisiana, Montana, and Washington are eligible to open an account and participate in contests offered by the Website. Legal residents of Arizona, Iowa, Louisiana, Montana, and Washington (the "Excluded States") are ineligible to use the Services. Legal residents of Canada are eligible to open an account and use the Services. You may establish only one account per person to participate in the Services offered on the Website. In the event CounterDraft discovers that you have opened more than one account per person, in addition to any other rights that CounterDraft may have, CounterDraft reserves the right to suspend or terminate any or all of your accounts and terminate, withhold or revoke your access to or use of the Services. You are responsible for maintaining the confidentiality of your login names and passwords and you accept responsibility for all activities, charges, and damages that occur under your account. It shall be a violation of these Terms of Service to allow any other person to use your account to use the Services. If you have reason to believe that someone is using your account without your permission, you should contact us immediately. We will not be responsible for any loss or damage resulting from your failure to notify us of unauthorized use. If we request registration information from you, you must provide us with accurate and complete information and must update the information when it changes. "Authorized Account Holder" is defined as the natural person 18 years of age or older who is assigned to an e-mail address by an Internet access provider, on-line service provider, or other organization (e.g., business, education institution, etc.) that is responsible for assigning e-mail addresses for the domain associated with the submitted e-mail address for registration on the Website. By inputting a payment method to utilize the Services, the Authorized Account Holder hereby affirms that the Authorized Account Holder is the lawful owner of the payment method account used to make any deposit(s) on the Website. It shall be a violation of these Terms of Service for any Authorized Account Holder to submit payment using any payment method that is not owned by the Authorized Account Holder. CounterDraft employees may use the Services, and will from time to time do so for the purpose of testing the site user experience, socializing and competing with customers to build community, and other reasonable and fair uses at the discretion of CounterDraft.
            </p>
            <h2>
            LEAGUE HUB ENTRY
        </h2>
            <p>
                Users will be able to visit the Website and create a centralized prize repository for each member of the user’s season-long fantasy contest (“League Hub League”). Users will be able to utilize funds in the user’s existing CounterDraft account (or create a new CounterDraft account) for entry into the League Hub League. Each individual League Hub League has the entry fee listed in US dollars. When you select to participate in a League Hub League and complete the entry process, the listed amount of US dollars will be debited from your CounterDraft account. Users must be directed to the League Hub League through the user’s Fantasy Sports Contest (as defined below) provider. Upon registration for a CounterDraft account (or logging in to an existing account), the user will be able to create a League Hub League with information populated from the Fantasy Sports Contest provider and invite other members of the user’s Fantasy Sports Contest to join the League Hub League. Invited users will then be able to join the League Hub League on the terms described in the League Hub League description.
            </p>
            <h2>
            REFUND POLICY
        </h2>
            <p>
                All payments are final. No refunds will be issued except in the case of cancelled contests as detailed in the description above (or insert a link to where ever the pages above will live). In the event of a dispute regarding the identity of the person submitting an entry, the entry will be deemed submitted by the person in whose name the account was registered.
            </p>
            <h2>
            CONDITIONS OF PARTICIPATION
        </h2>
            <p>
                By entering a League Hub League, entrants agree to be bound by these League Hub Terms and the decisions of CounterDraft, which shall be final and binding in all respects[1] [2] . Entrants must follow the entry method above in order participate in the League Hub League. The Company, at its sole discretion, may disqualify any entrant from a League Hub League, refuse to award benefits or prizes and require the return of any prizes, if the entrant engages in conduct the Company deems to be improper, unfair or otherwise adverse to the operation of the Contest or is in any way detrimental to other entrants[3] [4] . Improper conduct includes, but is not limited to:
            </p>
            <ul>
                <li>Falsifying personal information required to enter a League Hub League or claim a prize;</li>
                <li>Engaging in any type of financial fraud including unauthorized use of credit instruments to enter a League Hub League or claim a prize;</li>
                <li>Colluding with any other individual(s) or engaging in any type of syndicate play;</li>
                <li>Any violation of the Terms of Service;</li>
                <li>Using automated means (including but not limited to harvesting bots, robots, parser, spiders or screen scrapers) to obtain, collect or access any information on the Website or of any User for any purpose.</li>
                <li>Any type of bonus abuse, abuse of the refer-a-friend program, or abuse of any other offers or promotions;</li>
                <li>Tampering with the administration of a League Hub League or trying to in any way tamper with the computer programs or any security measure associated with a League Hub League;</li>
                <li>Obtaining other entrants information and spamming other entrants; or</li>
                <li>Abusing the Website in any way.</li>
            </ul>
            <p>
                Users further acknowledge that any forfeiture and/or denial of access to the League Hub League shall in no way prevent CounterDraft from pursuing criminal or civil proceedings in connection with such conduct. By entering into a League Hub League, entrants, including but not limited to the winner(s), agree to indemnify, release and to hold harmless CounterDraft, its parents, subsidiaries, affiliates agents, and the Fantasy Sports Contest as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities (collectively, the "Released Parties"), from any and all liability, claims or actions of any kind whatsoever, including but not limited to injuries, damages, or losses to persons and property which may be sustained in connection with participation in the League Hub League, the receipt, ownership, use or misuse of any prize or while preparing for, participating in and/or travelling to or from any prize related activity, as well as any claims based on publicity rights, defamation, or invasion of privacy. CounterDraft may, in its sole and absolute discretion, require an Authorized Account Holder to execute a separate release of claims similar to the one listed above in this Paragraph as a condition of being awarded any prize or receiving any payout. CounterDraft is not responsible for: any incorrect, invalid or inaccurate entry information; human errors; postal delays/postage due mail; technical malfunctions; failures, including public utility or telephone outages; omissions, interruptions, deletions or defects of any telephone system or network, computer online systems, data, computer equipment, servers, providers, or software (including, but not limited to software and operating systems that do not permit an entrant to participate in a Contest), including without limitation any injury or damage to any entrant's or any other person's computer or video equipment relating to or resulting from participation in a Contest; inability to access the Website, or any web pages that are part of or related to the Website; theft, tampering, destruction, or unauthorized access to, or alteration of, entries and/or images of any kind; data that is processed late or incorrectly or is incomplete or lost due to telephone, postal issues, computer or electronic malfunction or traffic congestion on telephone lines or transmission systems, or the Internet, or any service provider's facilities, or any phone site or website or for any other reason whatsoever; typographical, printing or other errors, or any combination thereof. CounterDraft is not responsible for incomplete, illegible, misdirected or stolen entries. If for any reason a League Hub League is not capable of running as originally planned, or if a League Hub League, computer application, or website associated therewith (or any portion thereof) becomes corrupted or does not allow the proper entry to a League Hub League in accordance with the Terms of Service or any applicable rules, or if infection by a computer (or similar) virus, bug, tampering, unauthorized intervention, actions by entrants, fraud, technical failures, or any other causes of any kind, in the sole opinion of CounterDraft corrupts or affects the administration, security, fairness, integrity, or proper conduct of a League Hub League, the Company reserves the right, at its sole discretion, to disqualify any individual implicated in such action and/or to cancel, terminate, extend, modify or suspend the League Hub League, and select the winner(s) from all eligible entries received. If such cancellation, termination, modification or suspension occurs, notification will be posted on the Website.
            </p>
            <h2>
            ANY ATTEMPT BY AN ENTRANT OR ANY OTHER INDIVIDUAL TO DELIBERATELY DAMAGE THE WEBSITE OR UNDERMINE THE LEGITIMATE OPERATION OF ANY CONTEST IS A VIOLATION OF CRIMINAL AND/OR CIVIL LAWS AND SHOULD SUCH AN ATTEMPT BE MADE, CounterDraft RESERVES THE RIGHT TO SEEK DAMAGES AND OTHER REMEDIES FROM ANY SUCH PERSON TO THE FULLEST EXTENT PERMITTED BY LAW.
        </h2>
            <p>
                All entries become the property of CounterDraft and will not be acknowledged or returned.[5] [6] [7] To be eligible to enter any League Hub League or receive any prize, the Authorized Account Holder may be required to provide CounterDraft with additional documentation and/or information to verify the identity of the Authorized Account Holder, and to provide proof that all eligibility requirements are met. In the event of a dispute as to the identity or eligibility of an Authorized Account Holder, CounterDraft will, in its sole and absolute discretion, utilize certain information collected by CounterDraft to assist in verifying the identity and/or eligibility of such Authorized Account Holder. Participation in each League Hub League must be made only as specified in the Terms of Service. Failure to comply with these Terms of Service will result in disqualification and, if applicable, prize forfeiture. Where legal, both entrants and winner consent to the use of their name, voice, and likeness/photograph in and in connection with the development, production, distribution and/or exploitation of any League Hub League or the Website. Winners agree that from the date of notification by CounterDraft of their status as a potential winner and continuing until such time when CounterDraft informs them that they no longer need to do so that they will make themselves available to CounterDraft for publicity, advertising, and promotion activities. By participating in a League Hub League, you acknowledge that the Company has the right to report to law enforcement authorities any actions that may be considered illegal or unlawful, as well as any reports the Company may receive of such conduct. When requested, the Company reserves the right to cooperate fully with law enforcement agencies in any investigation of alleged illegal activity regarding the use of the Services.
            </p>
            <h2>
            CONTEST PRIZES AND PROMOTIONS
        </h2>
            <p>
                Prizes will only be awarded if a League Hub League is run. We reserve the right to cancel any League Hub League at any time. In the event of a cancellation, all entry fees will be refunded to the customer except as specifically provided in these Terms of Service. Each League Hub League is governed by its own set of rules established by the League Manager. We encourage you to read such rules before participating.[8]
            </p>
            <h2>
            OTHER LEGAL RESTRICTIONS
        </h2>
            <h2>
            LEAGUE HUB USE ONLY ALLOWED FOR AUTHORIZED CONTESTS
        </h2>
            <p>
                League Hub Leagues are offered in connection with select season-long fantasy sports contest providers (the “Fantasy Sports Contest”). Winners are determined by the objective criteria described in the rules, scoring, and any other applicable documentation associated with the Fantasy Sports Contest. The Fantasy Sports Contests must be approved by the Company and designed such that individuals who use their skill and knowledge of relevant sports information and fantasy sports rules to accumulate the most points according to the corresponding scoring rules. The League Hub Leagues may not be used in connection with any activity besides the Fantasy Sports Contest.
            </p>
            <h2>
            LEAGUE HUB PAYMENT RELEASE
            </h2>
            <p>
                Fantasy Sports Contest results are based on the final statistics and scoring results at the completion of the last professional sports game of each individual Fantasy Sports Contest. Once Fantasy Sports Contest results are reviewed and graded, prizes are awarded in accordance with the applicable prize structure of the individual League Hub League. The scoring results of a Fantasy Sports Contest will not be changed regardless of any official statistics or scoring adjustments made by the league except in accordance with the Fantasy Sports Contest rules.[9] CounterDraft reserves the right, in its sole and absolute discretion, to deny any contestant the ability to participate in head-to-head contests for any reason whatsoever. Further, CounterDraft may, in its sole and absolute discretion, invalidate any head-to-head contest result for the purposes of preventing abusive and/or any unfair or potentially unlawful activity, or in the event that there is a risk of any such abusive, illegal, or unfair activity. At the conclusion of each Fantasy Sports Contest, prizes will be awarded by 12:00 NOON EST on the following day except in circumstances where technical failure or other reasons prevent such timely payout. League Hub League prizes are listed in the prize table list for the relevant League Hub League. Prizes won are added to the winning participants’ account balance and may be withdrawn in accordance with CounterDraft’ withdrawal procedures (which may be modified from time to time).
            </p>
            <h2>
            PRIZE TABLES
        </h2>
            <p>
                League Hub League prize payouts will be set by the League Manager and published with the creation of each new League Hub League. Upon league creation, the commissioner will choose a prize payment structure which will dictate how end-of-season league winnings are authorized. The prize payment structure establishes the level of control that each Member has over the assignment of end-of-season winnings. The prize payment structure cannot be changed once a non-League Manager has made a deposit into the League Hub League. Prior to joining a League Hub League, users will be notified of the chosen prize payment structure, and will be required to assent to the prize payment structure. Users who do not assent to the prize payment structure cannot join the League Hub League or make a payment into the league’s balance. CounterDraft reserves the right, in its sole discretion, to cancel or suspend the League Hub Leagues should virus, bugs, unauthorized human intervention, or other causes corrupt administration, security, fairness, integrity or proper operation of the League Hub League (or any portion thereof) warrant doing so. Notification of such changes may be provided by CounterDraft to its customers but will not be required.
            </p>
            <h2>
            PAYMENT AND WITHDRAWAL OF PRIZES
            </h2>
            <p>
                Entrants may withdraw their cash prize awards as well as cash deposits by using the "Withdrawal" option on the entrants’ CounterDraft accounts. Entrants may be requested to complete an affidavit of eligibility and a liability/publicity release (unless prohibited by law) and/or appropriate tax forms and forms of identification including but not limited to a Driver's License, Proof of Residence, and/or any information relating to payment/deposit accounts as reasonably requested by CounterDraft in order to complete the withdrawal of prizes. Promotional deposits, credits, and other bonuses may not be withdrawn from a CounterDraft account unless appropriate terms of the promotion are achieved first by the user. All taxes associated with the receipt of any prize are the sole responsibility of the winner. In the event that the awarding of any prizes to winners of the League Hub League is challenged by any legal authority, CounterDraft reserves the right in its sole discretion to determine whether or not to award such prizes. Any withdrawal requests, after approved by CounterDraft, will be credited back to the same credit card or method of payment used to deposit funds into the CounterDraft user’s account. CounterDraft will only release withdrawals to a different credit card or other payment method other than that which was used to make deposit(s) after the aggregate amount of such deposit(s) has already been released back to the credit card(s) or payment method(s) used for the deposit(s).
            </p>
            <h2>
            TERMINATION AND EFFECT OF TERMINATION
        </h2>
            <p>
                In addition to any other legal or equitable remedy, CounterDraft may, without prior notice, immediately revoke any or all rights granted to you hereunder. In such event, you will immediately cease all access to and use of the CounterDraft Website and the Services. CounterDraft may revoke any password(s) and/or account identification issued to you and deny you access to and use of the Services and/or the Website. Any such action shall not affect any rights and obligations arising prior thereto. All provisions of the Terms of Service which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>
            <h2>
            DISCLAIMER OF WARRANTIES
        </h2>
            <p>
                THE WEBSITE, INCLUDING, WITHOUT LIMITATION, ALL CONTENT, SOFTWARE, AND FUNCTIONS MADE AVAILABLE ON OR ACCESSED THROUGH OR SENT FROM THE WEBSITE, ARE PROVIDED "AS IS," "AS AVAILABLE," AND "WITH ALL FAULTS." TO THE FULLEST EXTENT PERMISSIBLE BY LAW, THE COMPANY AND ITS PARENTS, SUBSIDIARIES AND AFFILIATES MAKE NO REPRESENTATION OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER (EXPRESS OR IMPLIED) ABOUT: (A) THE WEBSITE; (B) THE CONTENT AND SOFTWARE ON AND PROVIDED THROUGH THE WEBSITE; (C) THE FUNCTIONS MADE ACCESSIBLE ON OR ACCESSED THROUGH THE WEBSITE; (D) THE MESSAGES AND INFORMATION SENT FROM THE WEBSITE BY USERS; (E) ANY PRODUCTS OR SERVICES OFFERED VIA THE WEBSITE OR HYPERTEXT LINKS TO THIRD PARTIES; AND/OR (F) SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION THROUGH THE WEBSITE OR ANY LINKED SITE. THE COMPANY DOES NOT WARRANT THAT THE WEBSITE, ANY OF THE WEBSITES' FUNCTIONS OR ANY CONTENT CONTAINED THEREIN WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE WEBSITES OR THE SERVERS THAT MAKES THEM AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE COMPANY DOES NOT WARRANT THAT YOUR ACTIVITIES OR USE OF THE WEBSITE IS LAWFUL IN ANY PARTICULAR JURISDICTION AND, IN ANY EVENT, THE COMPANY SPECIFICALLY DISCLAIMS SUCH WARRANTIES. YOU UNDERSTAND THAT BY USING ANY OF THE FEATURES OF THE WEBSITE, YOU ACT AT YOUR OWN RISK, AND YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE WEBSITE OR THE CONTENT. FURTHER, THE COMPANY AND ITS PARENTS, SUBSIDIARIES AND AFFILIATES DISCLAIM ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, WITHOUT LIMITATION, NONINFRINGEMENT, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND TITLE. THE COMPANY, ITS PARENTS, SUBSIDIARIES AND AFFILIATES, AND THE DIRECTORS, OFFICERS, EMPLOYEES, AND OTHER REPRESENTATIVES OF EACH OF THEM, SHALL NOT BE LIABLE FOR THE USE OF THE WEBSITE INCLUDING, WITHOUT LIMITATION, THE CONTENT AND ANY ERRORS CONTAINED THEREIN. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO THIS AGREEMENT. LIMITATION OF LIABILITY YOU UNDERSTAND AND AGREE THAT THE COMPANY LIMITS ITS LIABILITY IN CONNECTION WITH YOUR USE OF THE WEBSITE AS SET FORTH BELOW: UNDER NO CIRCUMSTANCES SHALL THE COMPANY, ITS PARENTS, SUBSIDIARIES, OR AFFILIATES, OR THE DIRECTORS, OFFICERS, EMPLOYEES, OR OTHER REPRESENTATIVES OF EACH OF THEM (COLLECTIVELY, THE "COMPANY ENTITIES AND INDIVIDUALS"), BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY SPECIAL, DIRECT, INDIRECT, INCIDENTAL, EXEMPLARY, ECONOMIC, PUNITIVE, OR CONSEQUENTIAL DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO (1) THE WEBSITE, THE CONTENT, OR YOUR UPLOAD INFORMATION; (2) THE USE OF, INABILITY TO USE, OR PERFORMANCE OF THE WEBSITE; (3) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE COMPANY OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR USE OF THE WEBSITE OR CONTENT;(4) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OWNERS; OR (5) ANY ERRORS OR OMISSIONS IN THE WEBSITE'S TECHNICAL OPERATION, EVEN IF FORESEEABLE OR EVEN IF THE COMPANY ENTITIES AND INDIVIDUALS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE WEBSITE). IN NO EVENT WILL THE COMPANY ENTITIES AND INDIVIDUALS BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL THE COMPANY ENTITIES AND INDIVIDUALS TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION EXCEED ONE HUNDRED DOLLARS ($100). THE COMPANY ENTITIES AND INDIVIDUALS ARE NOT RESPONSIBLE FOR ANY DAMAGE TO ANY USER'S COMPUTER, HARDWARE, COMPUTER SOFTWARE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION. YOUR ACCESS TO AND USE OF THIS WEBSITE IS AT YOUR RISK. IF YOU ARE DISSATISFIED WITH THE WEBSITE OR ANY OF THE CONTENT, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE ACCESSING AND USING THE WEBSITE OR THE CONTENT. YOU RECOGNIZE AND CONFIRM THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF THE COMPANY'S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEBSITE OR OTHER PROPERTY OWNED OR CONTROLLED BY THE COMPANY AND/OR ITS PARENTS, SUBSIDIARIES, AND/OR AFFILIATES OR YOUR UPLOAD INFORMATION, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY COMPANY WEBSITE OR OTHER PROPERTY OR YOUR UPLOAD INFORMATION OR ANY AND ALL ACTIVITIES OR ACTIONS RELATED THERETO. BY ACCESSING THE WEBSITE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED. ACCORDINGLY, YOU AGREE TO WAIVE THE BENEFIT OF ANY LAW, INCLUDING, TO THE EXTENT APPLICABLE, CALIFORNIA CIVIL CODE SECTION 1542, THAT OTHERWISE MIGHT LIMIT YOUR WAIVER OF SUCH CLAIMS.
            </p>
            <h2>
            ARBITRATION, CONSENT TO JURISDICTION IN MASSACHUSETTS, ATTORNEY’S FEES
        </h2>
            <p>
                Any and all disputes, claims or controversies arising out of or relating to this Agreement, the breach thereof, or any use of the Website (including all commercial transactions conducted through the Website) ("Claims"), except for claims filed in a small claims court that proceed on an individual (non-class, non-representative) basis, shall be settled by binding arbitration before a single arbitrator appointed by the American Arbitration Association ("AAA") in accordance with its then governing rules and procedures, including the Supplementary Procedures for Consumer-Related Disputes, where applicable. In agreeing to arbitrate all Claims, you and CounterDraft waive all rights to a trial by jury in any action or proceeding involving any Claim. The arbitration shall be held in Suffolk County, Massachusetts, and judgment on the award rendered by the arbitrator may be entered by any court having jurisdiction thereof. This arbitration undertaking is made pursuant to and in connection with a transaction involving interstate commerce, and shall be governed by and construed and interpreted in accordance with the Federal Arbitration Act at 9 U.S.C. Section 1, et seq. This arbitration provision shall survive termination of this Agreement. Subject to the limitations set forth below, the arbitrator shall have authority to award legal and equitable relief available in the courts of the Commonwealth of Massachusetts, provided that: The arbitrator shall not have authority to award punitive damages; and Any and all claims shall be arbitrated on an individual basis only, and shall not be consolidated or joined with or in any arbitration or other proceeding involving a Claim of any other party. You and CounterDraft agree that the arbitrator shall have no authority to arbitrate any Claim as a class action or in any other form other than on an individual basis. For any Claims that are not subject to arbitration: (a) the exclusive jurisdiction and venue for proceedings involving Claims shall be the courts of competent jurisdiction sitting within Suffolk County, Massachusetts (the "Forum"), and the parties hereby waive any argument that any such court does not have personal jurisdiction or that the Forum is not appropriate or convenient; (b) you and CounterDraft waive any and all rights to trial by jury with respect to any Claims. In the event that either party initiates a proceeding involving any Claim other than an arbitration in accordance with this Section, or initiates a proceeding involving a Claim under this Section other than in the Forum, the other party shall recover all attorneys' fees and expenses reasonably incurred in enforcing this Agreement to arbitrate and the Forum to which the parties have herein agreed.
            </p>
            <h2>
            INTERACTION WITH CounterDraft Terms of Service
        </h2>
            <p>
                These League Hub Terms shall be in addition to the Terms of Service located at www.CounterDraft.com/help/terms and are incorporated therein by reference. To the extent there is a conflict between the League Hub Terms and the Terms of Service, the Terms of Service shall control.
            </p>
            <h2>
            MOBILE APPLICATION
        </h2>
            <p>
                These League Hub Terms shall also apply to the use of the League Hub Mobile Application. These League Hub Terms are intended to be in addition to the End User License Agreement (found here: https://www.apple.com/legal/internet-services/itunes/appstore/dev/stdeula/) for the Mobile Application, and to the extent any of these League Hub Terms conflict with the End User License Agreement, these League Hub Terms shall be deemed to apply and the conflicting provision in the End User License Agreement shall not be applicable. Any reference to the Website or League Hub in these League Hub Terms shall also be deemed to include the Mobile Application.
            </p>
        </div>
    </div>
</div>
<%- contentFor('title') %>terms-of-service<%- contentFor('mainjs') %>terms-of-service<%- contentFor('articleID') %>terms-of-service
