<div class="jumbotron text-center">
  <div class="container">
    <h1>Terms of Service</h1>
    <p>Coming Soon...</p>
  </div>
</div>
<%- contentFor('title') %>terms-of-service<%- contentFor('mainjs') %>terms-of-service<%- contentFor('articleID') %>terms-of-service