<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center"><u>Terms of Service</u></h1>
         </div>
    </row>
    <div class="container">
        <p>Coming Soon...</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>terms-of-service<%- contentFor('mainjs') %>terms-of-service<%- contentFor('articleID') %>terms-of-service