article#counter-home {
    .img-home {
        // background-color: @color-primary-4;
        // padding-top: 25px;
        h1 {
            padding: 1em;
            margin: 0;
        }
        
        @media screen and (max-width: @bootstrap-med) {
            h1.bottom-home-title {
                position: relative;
                bottom: 20px;
                padding:0;
            }
        }
        * {
            color: white;
        }
    }
    .mid-content {
        padding-top: 1em;
        padding-bottom: 1em;
        line-height: 20px;
    }
    .how-to-win h2,
    .who-are-we h2 {
        // background-color: @color-primary-4;
        text-decoration: underline;
        margin: 0;
        padding: 1em;
        // color: white;
    }
}
